<div>
    <h1>Registro de usuario</h1>
    <form method="POST" action="/signup">
        <input type="email" name="username" id="username" placeholder="email">
        <input type="text" name="password" id="password" placeholder="password">
        <button type="submit">REGISTRARSE</button>
    </form>
    <a href="/login">Login</a>
</div>